form(action="/rezervasyon/yeni" method="post")
 .form-group
   label(for="usr") Kort:
   |   
   input#usr.form-control(type="text" name="kort")
 .form-group
   label(for="usr") Saat:
   |   
   input#usr.form-control(type="text" name="saat")
 .form-group
   label(for="usr") Gün:
   |   
   input#usr.form-control(type="text" name="gun")
 .form-group
   label(for="usr") İsim:
   |   
   input#usr.form-control(type="text" name="isim")
 button.btn.btn-default(type="submit") Gönder